<% if @artists.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
        </th>
        <th>Artist</th>
        <th>SoundCloud Profile </th>
        <th>Tracks count</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
      	<tr class="artist">
          <td>
      		  <%= image_tag artist.avatar_url, height: '50px' %>
          </td>
          <td class="tracks">
            <strong>
      		    <%= link_to artist.full_name.capitalize, artist_path(artist.id) %>
            </strong>
          </td>
      		<td class="soundcloud">
      			<%= link_to '&#9729;'.html_safe, artist.permalink_url %>
          </td>
          <td class="count">
      			<%= artist.track_count %>
      		</td>
      	</tr>
      <% end %>
    </tbody>
  </table>  
<% else %>
  <div class="alert alert-danger" role="alert">No artist found.</div>
<% end %>